.App {
  text-align: center;
}

a{
  color:#ff995b;
}
a:hover{
  font-weight: bold;
  font-stretch: expanded;
  text-decoration: none;
  color: #ff995b;
}

#nav-dropdown-item:active{
  background-color: transparent;
}