body{
    font: 1.4em/1em cursive;
}
.cars-offers{
    height: 60%;
    width: 80%;
}
img{
    width:100%;
    border-radius: 5%;
    cursor: pointer;
}
.bg-image {
    /* The image used */
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.pagination{
    position: fixed;
    top: 20px;
    z-index: 2000;
    width: auto;
}
.filters{
    width: 100%;
    margin-top: 1%;
}
.offers{
    width: 80%;
    margin-top: 1%;
}

.sorters button{
    font: 1.4em/1.6em cursive;
    background-color: #ee8607;
}
.active-sorter{
    font-weight: bold;;
    background-color: mediumseagreen;
    border-radius: 20%;
}
.sorters button:hover{
     background-color: #8de083;
 }

.sort-title button:disabled{
    color: #ee8607;
    font: 1.4em/1.6em cursive;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: whitesmoke;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}


